<div class="inner-body-wrap">
	<div class="card card-custom gutter-b">
		<div class="card-header">
			<div class="card-title">
				<h3 class="card-label">Contacts List</h3>
			</div>

		</div>
		<div class="card-body">
			<!-- begin:Table -->
			<div class="table-responsive angular-bootstrap-table">
				<table class="table table-head-custom table-vertical-center overflow-hidden" *ngIf="length > 0">
					<thead>
						<th>Number</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Image</th>
						<th>Action</th>
					</thead>
					<tbody>
						<tr *ngFor="let contacts of contactsList; let i = index;">
							<td>{{ i + 1}}</td>
							<td>{{contacts?.first_name}}</td>
							<td>{{contacts?.last_name}}</td>
							<td *ngIf="contacts.avatar != null"><img [src]="contacts?.avatar" /></td>
							<td *ngIf="contacts.avatar == null"><img src="assets/image/user.png" /></td>
							<button title="View" [routerLink]="'/userlist/view/' + contacts.id">
								<i class="material-icons">visibility</i>
							</button>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- end: Table -->
		</div>
		<div>
			<app-pagination *ngIf="length" [childMessage]="length" [index]="index"
				(messageEvent)="receiveMessage($event)">
			</app-pagination>
		</div>
	</div>
</div>