<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2>View Details</h2>
                <div class="form-group row">
                    <div class="col-md-6 col-lg-6">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" value="{{viewData?.first_name}}" disabled
                            placeholder="First Name" autocomplete="off" />
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control form-control-lg form-control-solid"  value="{{viewData?.last_name}}" disabled
                            placeholder="First Name" autocomplete="off" />
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control form-control-lg form-control-solid"  value="{{viewData?.email}}" disabled
                            placeholder="First Name" autocomplete="off" />
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <label class="form-label">Image</label>
                        <div *ngIf="viewData?.avatar !== null"><img [src]="viewData?.avatar" /></div>
                        <div *ngIf="viewData?.avatar === null"><img src="assets/image/user.png" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-content">
    <div class="modal-footer">
		<a type="button" class="btn btn-light btn-elevate mr-2" [routerLink]="'/userlist'">
			Cancel
        </a>
	</div>
</div>