<div class="modal-content">
	<div class="modal-header">
		<div class="modal-title h4" id="example-modal-sizes-title-lg">
			<ng-container>
				<ng-container>Create</ng-container>
				Contact
			</ng-container>
		</div>
	</div>
	<div class="overlay overlay-block cursor-default modal-body">
		<ng-container>
			<form action="#" class="form form-label-right" [formGroup]="formGroup">
				<div class="form-group row">
					<div class="col-md-4 col-lg-4">
						<label class="form-label">First name </label>
						<input type="text" class="form-control form-control-lg form-control-solid" name="first_name"
							placeholder="Enter First name" autocomplete="off" [class.is-invalid]="isControlInvalid('first_name')"
							[class.is-valid]="isControlValid('first_name')" formControlName="first_name" />
							
						<div class="valid-feedback" *ngIf="isControlValid('first_name')">
							First name was entered correct
						</div>
						<div class="invalid-feedback" *ngIf="controlHasError('required', 'first_name')">
							First name  is required
						</div>
						<div class="invalid-feedback" *ngIf="controlHasError('minlength', 'first_name')">
							First name  should have at least 3 characters
						</div>
						<div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'first_name')">
							First name  should have maximum 20 characters
						</div>
						
					</div>
					<div class="col-md-4 col-lg-4">
						<label class="form-label">Last name</label>
						<input type="text" class="form-control form-control-lg form-control-solid" name="last_name"
							placeholder="Enter Last name" autocomplete="off" [class.is-invalid]="isControlInvalid('last_name')"
							[class.is-valid]="isControlValid('last_name')" formControlName="last_name" />

						<div class="valid-feedback" *ngIf="isControlValid('last_name')">
							Last name was entered correct
						</div>

						<div class="invalid-feedback" *ngIf="controlHasError('required', 'last_name')">
							Last name is required
						</div>
						<div class="invalid-feedback" *ngIf="controlHasError('minlength', 'last_name')">
							Last name should have at least 3 characters
						</div>
						<div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'last_name')">
							Last name should have maximum 20 characters
						</div>
					</div>
					<div class="col-md-4 col-lg-4">
						<label class="form-label">Email</label>
						<input type="text" class="form-control form-control-lg form-control-solid" name="email"
							placeholder="Enter email" autocomplete="off" [class.is-invalid]="isControlInvalid('email')"
							[class.is-valid]="isControlValid('email')" formControlName="email" />
						<div class="valid-feedback" *ngIf="isControlValid('email')">
							Email was entered correct
						</div>

						<div class="invalid-feedback" *ngIf="controlHasError('required', 'email')">
							Email is required
						</div>
						<div class="invalid-feedback" *ngIf="controlHasError('email', 'email')">
							Email must be a valid email address
						</div>
						<div class="invalid-feedback" *ngIf="controlHasError('minlength', 'email')">
							Email should have at least 3 characters
						</div>
						<div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'email')">
							Email should have maximum 20 characters
						</div>
					</div>

				</div>
			</form>
		</ng-container>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light btn-elevate mr-2" (click)="cancel()">
			Cancel
		</button>
		<ng-container>
			<button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">
				<i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i> Save
			</button>
		</ng-container>
	</div>
</div>