<!-- <div class="wrapper">
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div> -->
<!-- <router-outlet></router-outlet> -->
<div class="wrapper">
    <!-- <div class="sidebar" data-color="danger" >
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" ></div>
    </div> -->
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <!-- <app-file-upload-progressbar-box></app-file-upload-progressbar-box> -->
        <!-- <div *ngIf="isMaps('maps')"> -->
            <app-footer></app-footer>
        <!-- </div> -->
    </div>
</div>
